Написать мини систему учета сотрудников компании:
1) Страница "Список сотрудников" состоит из
Фильтра: имя, дата приема на работу, должность, отдел, начальник.
Таблица сотрудников (с теме же полями как в фильтре) + пагинация.
При клике на сотрудника открыватся страница "Персональные данные сотрудника".
2) Страница "Персональные данные сотрудника" имеет два режима:
Отображение: имя, дата приема на работу, должность, отдел, начальник, список подчененных (с возможностью добавления, удаления в режиме редактирования). При клике на "начальник" или по списку "список подчененных" переходим к странице "Персональные данные сотрудника" выбранного сотрудника.
Редактирование: возможно только сотрудником или админом. Предусмотреть валидацию полей.
3) Регистрация, вход: логин и пароль.

Предусмотреть роль админа (пусть сразу такой юзер будет в система, логин/пароль: root, root).
должно быть SP
